<h2><%= @band.name %></h2>

<% @band.albums.each do |album| %>
  <a href="<%= album_url(album) %>"><%= album.title %></a>
  <br>
<% end %>
  <br>
<% if logged_in? %>
  <a href="<%= new_band_album_url(@band)%>">Add Album</a>
  <br>
  <a href="<%= edit_band_url(@band) %>">Edit this Band</a>
  <br>
  <form action="<%= band_url(@band) %>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this band">
  </form>
<% end %>